<footer class="container-lg h-card bottom border-top py-3">

  <div class="row">
    <div class="col-12 col-md-4">
      <ul class="list-unstyled">
        <li>
          {%- if site.author -%}
            {{ site.author | escape }}
          {%- else -%}
            {{ site.title | escape }}
          {%- endif -%}
        </li>
        {%- if site.email -%}
          <li>
            <a class="link-secondary" href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>

      <div class="col-12 col-sm-4">
        <ul class="list-unstyled">
          <li>
            <a class="link-secondary" href="{{ "/impressum/" | relative_url }}">Impressum</a>
          </li>
          <li>
            <a class="link-secondary" href="{{ "/datenschutzerklaerung/" | relative_url }}">Datenschutzerklärung</a>
          </li>
        </ul>
      </div>

    <div class="col-12 col-sm-4">
      <p>{{- site.description | escape -}}</p>
    </div>
  </div>

</footer>
