<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:image" content="{{ '/assets/images/stolpersteine-preview.png' | relative_url }}">

  <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/stolperstein.svg' | relative_url }}" sizes="any" id="stolperstein-svg">

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <script src="{{ '/assets/main.js' | relative_url }}" ></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script id="template-body" type="x-tmpl-mustache">
    {%- include template-body.html -%}
  </script>
  <script id="template-modal" type="x-tmpl-mustache">
    {%- include template-modal.html -%}
  </script>
  <script id="template-popup" type="x-tmpl-mustache">
    {%- include template-popup.html -%}
  </script>
</head>
{%- include modal-wrapper.html -%}
