<a href="https://twitter.com/{{ include.username }}">
  <img src="{{ "/assets/icons/arrow-right-circle.svg" | relative_url }}" alt="" width="32" height="32" title="Twitter">
  <span class="username">{{ include.username }}</span>
</a>
