{{! This is a mustache.js template. See syntax here: http://mustache.github.io/mustache.5.html }}

{% raw %}
<div class="row m-0">
  <div class="col-12">
    <h5 class="person-name">{{ properties.FullName }}</h5>
  </div>
</div>
{{> body}}
{% endraw %}
