{{! This is a mustache.js template. See syntax here: http://mustache.github.io/mustache.5.html }}

{% raw %}
<div class="row m-0">
  <div class="col-12 col-sm-6">
    <b id="popup-map-title">{{ i18n.map }}</b>
    <div id="popup-map"></div>
    <dl class="mb-1">

      <dt>{{ i18n.place }}</dt>
      <dd>
        {{# properties.street }}
          {{ properties.street }}<br>
        {{/ properties.street }}
        {{ properties.postalCode }}
        {{ properties.city }}
      </dd>

      {{# properties.bornDate }}
        <dt>{{ i18n.bornDate }}</dt>
        <dd>{{ properties.bornDate }}</dd>
      {{/ properties.bornDate }}

      {{# properties.diedDate }}
        <dt>{{ i18n.diedDate }}</dt>
        <dd>{{ properties.diedDate }}</dd>
      {{/ properties.diedDate }}

      {{# properties.persecution }}
        <dt>{{ i18n.persecution }}</dt>
        <dd>{{ properties.persecution }}</dd>
      {{/ properties.persecution }}

    </dl>

  </div>

  <div class="col-12 col-sm-6">
    {{^ properties.image }}
    {{# properties.inscription }}
      <div><b>{{ i18n.inscription }}</b></div>
      <p class="inscription">{{{ properties.inscription }}}</p>
    {{/ properties.inscription }}
    {{/ properties.image }}

    {{# properties.image }}
      <div><b>{{ i18n.image }}</b></div>
      <div class="square">
        <img src="{{ api_base_url }}{{ properties.image }}" class="popup-image">
      </div>

      {{# properties.imagecopyright }}
        <p class="copyright mb-2">&copy; {{ properties.imagecopyright }}</p>
      {{/ properties.imagecopyright }}

    {{/ properties.image }}

    {{# properties.biographyHTML }}
      <div><b>{{ i18n.biographyHTML }}</b></div>
      <p class="biographyHTML">{{{ properties.biographyHTML }}}</p>
    {{/ properties.biographyHTML }}
  </div>
</div>
{% endraw %}
