---
layout: default_no_container
---

<div id="home-slider" style="background-image: url({{ "/assets/images/steine/home.jpg" | relative_url }});">
  <div class="container-lg">
    <div class="row">

      <div class="col-6 col-sm-4 col-md-3 col-xxl-2">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-xxl-2">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-sm-4 col-md-3 col-xxl-2 d-none d-sm-block">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-md-3 col-xxl-2 d-none d-md-block">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-xxl-2 d-none d-xxl-block">
        <div class="stolperstein d-none">
        </div>
      </div>

      <div class="col-xxl-2 d-none d-xxl-block">
        <div class="stolperstein d-none">
        </div>
      </div>

    </div>
  </div>
</div>

<main class="container-lg py-3 clearfix">

{%- if page.title -%}
  <h1>{{ page.title }}</h1>
{%- endif -%}

<div class="row">
  <div class="col-12 col-sm-8 col-md-9 col-xxl-8 ">
    {{ content }}
  </div>

  <div class="col-12 col-sm-4 col-md-3 col-xxl-4 ">
    <div class="alert alert-info">
      <h2 class="display-5 text-dark"><img src="/assets/icons/globe2.svg" alt="" width="20" height="20"> Übersetzungen</h2>
      <ul>
        <li><a href="{{ 'he/stolpersteinverlegung.html' | relative_url }}">עברית</a></li>
        <li><a href="{{ 'en/research.html' | relative_url }}">English</a></li>
      </ul>

    </div>
    <h2 class="display-5">{{ page.list_title | default: "Beiträge" }}</h2>
    {%- for post in site.posts -%}
      <div class="py-3 border-bottom">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 class="display-6">
          <a class="" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | strip_html | truncate: 160 }}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>

</div>

</main>
